In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_excel("C:/Users/91983/Downloads/animal classification.xlsx")
df.head()

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [4]:
f=list(df.columns)
print(f)

['animal_name', 'hair', 'feathers', 'eggs', 'milk', 'airborne', 'aquatic', 'predator', 'toothed', 'backbone', 'breathes', 'venomous', 'fins', 'legs', 'tail', 'domestic', 'catsize', 'class_type']

In [5]:
f.remove('class_type')
f.remove('animal_name')
print(f)

['hair', 'feathers', 'eggs', 'milk', 'airborne', 'aquatic', 'predator', 'toothed', 'backbone', 'breathes', 'venomous', 'fins', 'legs', 'tail', 'domestic', 'catsize']

In [6]:
X=df[f].values.astype(np.float32)
Y=df.class_type
print(X.shape)
print(Y.shape)

(101, 16)
(101,)

In [16]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.5,random_state=0)
print(X_train.shape)
print(Y_train.shape)
print(X_test.shape)
print(Y_test.shape)

(50, 16)
(50,)
(51, 16)
(51,)

# using logistic regression to solve the problem

In [18]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(X_train,Y_train)
print("training accuracy:",model.score(X_train,Y_train))
print("testing accuracy:",model.score(X_test,Y_test))

training accuracy: 1.0
testing accuracy: 0.9215686274509803

# Decesion Tree

In [21]:
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier()
model.fit(X_train,Y_train)
print("training accuracy:",model.score(X_train,Y_train))
print("training accuracy:",model.score(X_test,Y_test))

training accuracy: 1.0
training accuracy: 0.9215686274509803

# Random Forest

In [22]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier()
model.fit(X_train,Y_train)
print("training accuracy:",model.score(X_train,Y_train))
print("training accuracy:",model.score(X_test,Y_test))

training accuracy: 1.0
training accuracy: 0.9215686274509803

# Support Vector Machine

In [24]:
from sklearn.svm import SVC
model=SVC(kernel="rbf",C=1.0,gamma=0.1)
model.fit(X_train,Y_train)
print("training accuracy:",model.score(X_train,Y_train))
print("training accuracy:",model.score(X_test,Y_test))

training accuracy: 0.98
training accuracy: 0.8235294117647058

# Ada Boost Classifier

In [25]:
from sklearn.ensemble import AdaBoostClassifier
model=AdaBoostClassifier()
model.fit(X_train,Y_train)
print("training accuracy:",model.score(X_train,Y_train))
print("training accuracy:",model.score(X_test,Y_test))

training accuracy: 0.82
training accuracy: 0.5882352941176471